<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <h1>RWP-AI</h1>
    <ul>
        <li><a href="{% url 'train_page' %}">Mulai Training</a></li>
        <li><a href="{% url 'upload_page' %}">Upload Gambar untuk Prediksi Kerusakan Bodi Mobil</a></li>
        <li><a href="{% url 'kfold_page' %}">Kflold Cross Validation Kerusakan Bodi Mobil</a></li>
        <li><a href="{% url 'kfold_page' %}">Summarization Video/Docx/PDF</a></li>
        <li><a href="{% url 'kfold_page' %}">Convert Image to Text</a></li>
    </ul>
</body>

</html>